<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout #custom_layout# #eqLogic_class# #category#"
    style="min-height: 150px;min-width:140px; position: relative; width:#width#; height:#height#;background-color:#background-color#!important; color:#color#; border:#border#; border-radius:#border-radius#;#style#"
    data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-cat_color="#catcolore#"
    data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">
	<span class="statusCmd"></span>
	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
	</span>
	<center class="widget-name">
		<a href="#eqLink#">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
	<script>
		if ('#refresh_id#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}
	</script>
	 <!--
		jeedom.cmd.addUpdateFunction('#state_id#',function(_options) {
			let cmd = $('.cmd[data-cmd_id=#state_id#]')
			cmd.attr('title', 'Valeur du: '+_options.collectDate)
			cmd.find('.state').empty().append(_options.display_value)
		});
		jeedom.cmd.refreshValue([{cmd_id :'#state_id#',display_value: '#state#', valueDate: '#state_valueDate#', collectDate: '#state_collectDate#', alertLevel: '#state_alertLevel#'}]);
	 <script>
		jeedom.cmd.addUpdateFunction('#chat_id#',function(_options) {
		  let cmd = $('.cmd[data-cmd_id=#chat_id#]')
		  cmd.attr('title', 'Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
		  cmd.find('.state').empty().append(_options.display_value+' ')
		});
		jeedom.cmd.refreshValue([{cmd_id :'#chat_id#',display_value: '#chat#', valueDate: '#chat_valueDate#', collectDate: '#chat__collectDate#', alertLevel: 'none', unit: ''}])
		jeedom.cmd.addUpdateFunction('#userlist_id#',function(_options) {
		  let cmd = $('.cmd[data-cmd_id=#userlist_id#]')
		  cmd.attr('title', 'Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
		  cmd.find('.state').empty().append(_options.display_value+' ')
		});
		jeedom.cmd.refreshValue([{cmd_id :'#userlist_id#',display_value: '#userlist#', valueDate: '#userlist_valueDate#', collectDate: '#userlist_collectDate#', alertLevel: 'none', unit: ''}])
		jeedom.cmd.addUpdateFunction('#state_id#',function(_options) {
		  let cmd = $('.cmd[data-cmd_id=#state_id#]')
		  cmd.attr('title', 'Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
		  cmd.find('.state').empty().append(_options.display_value+' ')
		});
		jeedom.cmd.refreshValue([{cmd_id :'#state_id#',display_value: '#state#', valueDate: '#state_valueDate#', collectDate: '#state_collectDate#', alertLevel: 'none', unit: ''}])
		
		jeedom.cmd.update['#chat_id#']=function(_options) {
		  let cmd = $('.cmd[data-cmd_id=#chat_id#]')
		  cmd.attr('title', 'Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
		  cmd.find('.state').empty().append(_options.display_value+' ')
		};
		jeedom.cmd.update['#userlist_id#']=function(_options) {
		  let cmd = $('.cmd[data-cmd_id=#userlist_id#]')
		  cmd.attr('title', 'Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
		  cmd.find('.state').empty().append(_options.display_value+' ')
		};
		jeedom.cmd.update['#state_id#']=function(_options) {
		  let cmd = $('.cmd[data-cmd_id=#state_id#]')
		  cmd.attr('title', 'Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
		  cmd.find('.state').empty().append(_options.display_value+' ')
		};
		<div class="cmd cmd-widget history cursor tooltipstered" data-type="info" data-subtype="string" data-template="default" data-cmd_id="3060" data-cmd_uid="cmd3060__1675017354__" data-version="dashboard" data-eqlogic_id="424" data-alertlevel="none">
  <div class="content-xs">
    <span class="cmdName ">Tendance</span> <strong class="state">FORECAST_CLOUDY </strong>
  </div>
  
  <script>
    jeedom.cmd.addUpdateFunction('3060',function(_options) {
      let cmd = $('.cmd[data-cmd_id=3060]')
      cmd.attr('title', 'Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
      cmd.find('.state').empty().append(_options.display_value+' ')
      if (_options.alertLevel) {
        if (_options.alertLevel == 'warning') {
          cmd.addClass('label label-warning')
          cmd.attr('data-alertlevel','warning')
        } else if (_options.alertLevel == 'danger') {
          cmd.addClass('label label-danger')
          cmd.attr('data-alertlevel','danger')
        } else {
          cmd.removeClass('label label-warning label-danger')
          cmd.attr('data-alertlevel','none')
        }
      }
    });
    jeedom.cmd.refreshValue([{cmd_id :'3060',display_value: 'FORECAST_CLOUDY', valueDate: '2023-03-22 03:05:54', collectDate: '2023-03-22 20:57:53', alertLevel: 'none', unit: ''}])
  </script>
</div>
	</script> -->
	<div class="eq_body_#id#" >
		<center>
			<div class="Pan_menu">
				<div class="content-xs">
					<strong>MENU</strong>
				</div>
				<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="string" data-cmd_id="#backend_id#" data-cmd_uid="cmd#uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #backend_collectDate#">
					<div class="content-xs">
						<span   class="cmdName">version mcmyadmin: </span>
						<strong class="state">#backend#</strong>
					</div>
				</div>
				<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="string" data-cmd_id="#mc_id#" data-cmd_uid="cmd#uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #mc_collectDate#">
					<div class="content-xs">
						<span   class="cmdName">version mc: </span>
						<strong class="state">#mc#</strong>
					</div>
				</div>
				<div>
					<div class="cmd cmd-widget tooltips mcstart" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#startserver_id#" data-cmd_uid="cmd#startserver_uid#" data-version="dashboard" data-eqlogic_id="#id#">
						<div class="content-xs">
							<a class="btn btn-sm btn-default action">start</a>
						</div>
					</div>
					<div class="cmd cmd-widget tooltips mcrestart" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#restartserver_id#" data-cmd_uid="cmd#restartserver_uid#" data-version="dashboard" data-eqlogic_id="#id#">
						<div class="content-xs">
							<a class="btn btn-sm btn-default action">restart</a>
						</div>
					</div>
					<div class="cmd cmd-widget tooltips mcshutdown" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#stopserver_id#" data-cmd_uid="cmd#stopserver_uid#" data-version="dashboard" data-eqlogic_id="#id#">
						<div class="content-xs">
							<a class="btn btn-sm btn-default action">shutdown</a>
						</div>
					</div>
					<div class="cmd cmd-widget tooltips mcsleep" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#sleepserver_id#" data-cmd_uid="cmd#sleepserver_uid#" data-version="dashboard" data-eqlogic_id="#id#">
						<div class="content-xs">
							<a class="btn btn-sm btn-default action">sleep</a>
						</div>
					</div>
					<div class="cmd cmd-widget tooltips mcreload" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#reload_id#" data-cmd_uid="cmd#reload_uid#" data-version="dashboard" data-eqlogic_id="#id#">
						<div class="content-xs">
							<a class="btn btn-sm btn-default action">reload</a>
						</div>
					</div>
					<div class="cmd cmd-widget tooltips mckill" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#killserver_id#" data-cmd_uid="cmd#killserver_uid#" data-version="dashboard" data-eqlogic_id="#id#">
						<div class="content-xs">
							<a class="btn btn-sm btn-default action">kill</a>
						</div>
					</div>
					<script>
						$('.cmd[data-cmd_id=#startserver_id#]:last .action').off('click').on('click', function () {
							jeedom.cmd.execute({id: '#startserver_id#'})
							jeedom.cmd.execute({id: '#refresh_id#'})
						})
						$('.cmd[data-cmd_id=#restartserver_id#]:last .action').off('click').on('click', function () {
							jeedom.cmd.execute({id: '#restartserver_id#'})
							jeedom.cmd.execute({id: '#refresh_id#'})
						})
						$('.cmd[data-cmd_id=#stopserver_id#]:last .action').off('click').on('click', function () {
							jeedom.cmd.execute({id: '#stopserver_id#'})
							jeedom.cmd.execute({id: '#refresh_id#'})
						})
						$('.cmd[data-cmd_id=#sleepserver_id#]:last .action').off('click').on('click', function () {
							jeedom.cmd.execute({id: '#sleepserver_id#'})
							jeedom.cmd.execute({id: '#refresh_id#'})
						})
						$('.cmd[data-cmd_id=#reload_id#]:last .action').off('click').on('click', function () {
							jeedom.cmd.execute({id: '#reload_id#'})
							jeedom.cmd.execute({id: '#refresh_id#'})
						})
						$('.cmd[data-cmd_id=#killserver_id#]:last .action').off('click').on('click', function () {
							jeedom.cmd.execute({id: '#killserver_id#'})
							jeedom.cmd.execute({id: '#refresh_id#'})
						})
					</script>
					<script>
						if ('#state#' == 0) { // eteint
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcshutdown').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcstart').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcsleep').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcrestart').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcreload').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mckill').hide();
						}
						if ('#state#' == 10) { // demarrage	 en cours
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcshutdown').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcstart').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcsleep').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcrestart').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcreload').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mckill').show();
						}
						if ('#state#' == 20) { // en cours de fonctionnement
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcshutdown').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcstart').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcsleep').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcrestart').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcreload').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mckill').show();
						}
						if ('#state#' == 40) {// en cours de passage en veille ou arret
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcshutdown').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcstart').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcsleep').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcrestart').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcreload').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mckill').show();
						}
						if ('#state#' == 50) {// en veille
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcshutdown').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcstart').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcsleep').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcrestart').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcreload').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mckill').show();
						}
						if ('#state#' == 100) {// a voir // en erreur
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcshutdown').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcstart').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcsleep').hide();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcrestart').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mcreload').show();
							$('.eqLogic[data-eqLogic_uid=#uid#] .mckill').show();
						}
					</script>
				</div>
				<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#cpuusage_id#" data-cmd_uid="cmd#cpuusage_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #cpuusage_collectDate#">
					<div class="content-xs">
						<span   class="cmdName">charge CPU: </span>
						<strong class="state">#cpuusage# %</strong>
					</div>
				</div>
				<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#ram_id#" data-cmd_uid="cmd#ram_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #ram_collectDate#">
					<div class="content-xs">
						<span   class="cmdName">charge RAM: </span>
						<strong class="state">#ram# / #rammax# Mo - #rampercent# %</strong>
					</div>
				</div>
				<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#users_id#" data-cmd_uid="cmd#users_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #users_collectDate#">
					<div class="content-xs">
						<span   class="cmdName">nombre de joueurs: </span>
						<strong class="state">#users# / #usermax#</strong>
					</div>
				</div>
				<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#state_id#" data-cmd_uid="cmd#state_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #state_collectDate#">
					<div class="content-xs">
						<span   class="cmdName">status serveur: </span>
						<strong class="state">#state_text#</strong>
					</div>
				</div>
				<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#starttime_id#" data-cmd_uid="cmd#starttime_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #starttime_collectDate#">
					<div class="content-xs">
						<span   class="cmdName">démarrer depuis: </span>
						<strong class="state">#starttime#</strong>
					</div>
				</div>
				<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#time_id#" data-cmd_uid="cmd#time_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #time_collectDate#">
					<div class="content-xs">
						<span   class="cmdName">temps serveur: </span>
						<strong class="state">#time#</strong>
					</div>
				</div>
				<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#failed_id#" data-cmd_uid="cmd#failed_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #failed_collectDate#">
					<div class="content-xs">
						<span   class="cmdName">status echec: </span>
						<strong class="state">#failed#</strong>
					</div>
				</div>
				<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#failmsg_id#" data-cmd_uid="cmd#failmsg_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #failmsg_collectDate#">
					<div class="content-xs">
						<span   class="cmdName">message echec: </span>
						<strong class="state">#failmsg#</strong>
					</div>
				</div>
			</div> <!-- Pan_menu -->
			<div class="Pan_joueur" style="display: none;">
				<div class="content-xs">
					<strong>LISTE JOUEURS</strong>
				</div>
				<div class="tooltips cmd cmd-widget userlist" data-type="info" data-subtype="string" data-version="dashboard" data-template="default" data-eqlogic_id="#userlist_id#" style="display: block;">
					<div style="max-width: #widthuserlist#px; max-height: #heightuserlist#px; overflow:auto;">
						<div class="state">
							#userlist#
						</div>
					</div>
				</div>
			</div>  <!-- Pan_joueur -->
			<div class="Pan_chat" style="display: none;">
				<div class="content-xs">
					<strong>CHAT</strong>
				</div>
				<div class="tooltips cmd cmd-widget chat" data-type="info" data-subtype="string" data-version="dashboard" data-template="default" data-eqlogic_id="#chat_id#" style="display: block;">
					<div style="max-width: #widthchat#px; max-height: #heightchat#px; overflow:auto;">
						<div class="state">
							#chat#
						</div>
					</div>
				</div>
				<div class="tooltips cmd cmd-widget sendchat" data-type="action" data-subtype="message" data-cmd_id="#sendchat_id#" data-cmd_uid="cmd#sendchat_uid#" data-version="dashboard" data-template="default" data-eqlogic_id="#id#">
					<div class="content-lg">
						<textarea id="messagemc" class="form-control input-sm message" rows="1" placeholder="Message" data-cmd_id="#sendchat_id#" data-cmd_uid="cmd#sendchat_uid#"></textarea>
						<a class="btn btn-xs execute">envoyer</a>
					</div>
					<script>
						$('.cmd[data-cmd_id=#sendchat_id#]:last .execute').on('click', function() {
							jeedom.cmd.execute({id: '#sendchat_id#', value: {message: $('.cmd[data-cmd_id=#sendchat_id#] .message').value()}});
							document.getElementById("messagemc").value = '';
						});
					</script>
				</div>
			</div>  <!-- Pan_chat -->
			<div class="Pan_backup" style="display: none;">
				<div class="content-xs">
					<strong>BACKUP (en pause)</strong>
				</div>
				<div class="tooltips cmd cmd-widget backuplist" data-type="info" data-subtype="string" data-version="dashboard" data-template="default" data-eqlogic_id="#backuplist_id#" style="display: block;">
					<div style="max-width: #widthbackuplist#px; max-height: #heightbackuplist#px; overflow:auto;">
						<div class="state">
							#backuplist#
						</div>
					</div>
				</div>
			</div>  <!-- Pan_backup -->
			<div class="Pan_config" style="display: none;">
				<div class="content-xs">
					<strong>CONFIG (en pause)</strong>
				</div>
				<div class="tooltips cmd cmd-widget configlist" data-type="info" data-subtype="string" data-version="dashboard" data-template="default" data-eqlogic_id="#configlist_id#" style="display: block;">
					<div style="max-width: #widthconfiglist#px; max-height: #heightconfiglist#px; overflow:auto;">
					<!--<div style="width: 100%; height: 100%; overflow:auto;">-->
						<div class="state">
							#configlist#
						</div>
					</div>
				</div>
			</div>  <!-- Pan_config -->
		</center> 
	</div>
	<div class="table_bottom" style="">
		<table style="position:absolute; right:0px; bottom:0px; width: 100%; height:;border-radius:#border-radius#;" cellspacing="0" cellpadding="0" border="0">	
			<tr style="height: 22px;">
				<td class="td_bot1" style="width: 18px; text-align: left;">
					<i class="fas fa-info-circle cursor tooltips infcmd noRefresh" title='Autres infos' style="margin-left: 3px; font-size: 0.9em;" ></i>		
					<div class="infhtm" style="display: none;"> 
						<div class="tooltips cmd cmd-widget lastCommunication" data-type="info" data-subtype="string" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" style="display: block;">
							<div class="content-xs">
								<span   class="cmdName">last Communication: </span> 
								<strong class="state">#lastCommunication#</strong>
							</div>
						</div>
						<br/>
						<div class="tooltips cmd cmd-widget numberTryWithoutSuccess" data-type="info" data-subtype="string" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" style="display: block;">
							<div class="content-xs">
								<span   class="cmdName">nombre de tentative de reconnexion: </span> 
								<strong class="state">#numberTryWithoutSuccess#</strong>
							</div>
						</div>
					</div>
				</td>
				<td class="td_bot2" style="text-align: center;">
				</td>
				<td class="td_bot3" style="width: 18px;text-align: right;" nowrap>
					<i class="fas fa-bars cursor tooltips changecmdmenu noRefresh" title='menu' style="margin-right: 3px;"></i>
					<i class="fas fa-child cursor tooltips changecmdjoueur noRefresh" title='joueurs' style="margin-right: 3px;"></i>
					<i class="fas fa-comment cursor tooltips changecmdchat noRefresh" title='chat' style="margin-right: 3px;"></i>
					<i class="fas fa-regular fa-save cursor tooltips changecmdbackup noRefresh" title='backup' style="margin-right: 3px;"></i>
					<i class="fas fa-database cursor tooltips changecmdconfig noRefresh" title='config' style="margin-right: 3px;"></i>
				</td>
			</tr>
			<script>
				if ('#numberTryWithoutSuccess#' >= 3) {
					$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').css('color', 'red');
				} 
				//**************************************//	
				$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').off('click').on('click', function () {
					$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').popover({
						container: "body",
						html: true,
						placement: "auto",
						selector : true,
						//title: false,//"<strong>Liste des équipements</strong>",
						content: function () {return $('.eqLogic[data-eqLogic_uid=#uid#] .infhtm').html(); } ,
					})
						.on("show.bs.popover", function () { 
							$(this).data("bs.popover").tip()
							.css({
								"max-width": "500px",
								"max-height":  "400px",
								//overflow: "auto",
								"overflow-y": "auto",
								"background-color": "#474646",//'background-color',
								"background": "#474646",
							}); 
							/*setTimeout(function () {
								$('.eqLogic[data-eqLogic_uid=#uid#] .btn_eqliste').popover('hide');
							}, 8000);
							*/
						});
					$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').popover('show'); 
				});
				$('.eqLogic[data-eqLogic_uid=#uid#] .changecmdmenu').on('click',function () { // menu
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_menu').show();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_joueur').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_chat').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_backup').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_config').hide();
				});
				$('.eqLogic[data-eqLogic_uid=#uid#] .changecmdjoueur').on('click',function () { // joueur
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_menu').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_joueur').show();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_chat').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_backup').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_config').hide();
				});
				$('.eqLogic[data-eqLogic_uid=#uid#] .changecmdchat').on('click',function () { // chat
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_menu').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_joueur').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_chat').show();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_backup').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_config').hide();
				});
				$('.eqLogic[data-eqLogic_uid=#uid#] .changecmdbackup').on('click',function () { // backup
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_menu').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_joueur').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_chat').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_backup').show();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_config').hide();
				});
				$('.eqLogic[data-eqLogic_uid=#uid#] .changecmdconfig').on('click',function () { // config
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_menu').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_joueur').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_chat').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_backup').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_config').show();
				});
			</script>
		</table>		
	</div>
	<!-- <script>
		jeedom.cmd.update['#chat_id#'] = function(_options) {
		  $(".cmd[eqlogic_id=#chat_id#] .chat").val(_options.display_value)
		}
	</script> -->
	<!-- fin table_bottom    -->
</div>
<!-- Fin eqLogic-widget  -->